@import 'animations';
@import 'variables';

// Mixin de display -> @include display(display, justify-content, align-items, flex-direction);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $body_font_family;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-size: $body_p_font_size;
    }

    main {
        border-radius: 20px;
        height: 400px;
        width: 600px;
        display: flex;
        box-shadow: $main_box_shadow;
        animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

        .left_side {
            background: $left_side_bg_color;
            border-radius: 20px;
            width: 50%;

            .title_left_side {
                height: 15%;
                @include display(flex, center, center, row);
                color: $title_left_color;
            }

            .result_circle {
                padding-top: 15px;
                display: flex;
                justify-content: center;
                height: 55%;
            }
        }

        .circle {
            height: 150px;
            width: 150px;
            border-radius: 50%;
            @include display(flex, center, center, column);
            background: $circle_bg_color;
            animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
            animation-delay: .4s;

            h2 {
                font-size: 50px;
                color: #fff;
            }
        }

        .circle p,
        .result_p p {
            color: $circle_and_result_p;
        }

        .result_text {
            height: 30%;
            gap: 10px;
            padding-bottom: 70px;
            @include display(flex, center, center, column);

            h2 {
                padding-bottom: 5px;
                color: #fff;
            }

            .result_p {
                text-align: center;
                width: 80%;
                animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
                animation-delay: 1s;
            }
        }

        .right_side {
            width: 50%;
            background-color: #fff;
            border-radius: 0px 20px 20px 0px;
    
            .title_right_side {
                height: 15%;
                display: flex;
                align-items: center;
                text-indent: 35px;
                color: $title_right_side_color;
            }

            #summary_characteristics {
                @include display(flex, center, center, column);
                gap: 20px;
                height: 65%;

                section {
                    width: 80%;
                    height: 18%;
                    @include display(flex, flex-start, center, space-between);
                    border-radius: 10px;
                    animation: swing-in-top-fwd 2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
                    animation-delay: 1s;

                    .text {
                        height: 100%;
                        width: 50%;
                        @include display(flex, space-evenly, center, row);
                    }

                    .numbers {
                        height: 100%;
                        width: 50%;
                        @include display(flex, space-evenly, center, row);

                        span {
                            color: summary_characteristics_p_color;
                            font-weight: 700;
                        }

                        p {
                            color: $summary_characteristics_p_color;
                        }
                    }
                }
            }

            .button_container {
                width: 100%;
                height: 20%;
                @include display(flex, center, center, row);

                button {
                    cursor: pointer;
                    color: #fff;
                    background-color: $button_bg_color;
                    width: 80%;
                    height: 55%;
                    border-radius: 30px;
                    border: none;
                    animation: roll-in-blurred-left 0.65s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
                    animation-delay: 1s;

                    &:hover {
                        background: $button_hover_bg_color;
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    main {
        flex-direction: column;
        width: 100% !important;
        height: 100% !important;

        .left_side {
            width: 100% !important;
            height: 40% !important;
            border-radius: 0 0 20px 20px !important;
        }

        .right_side {
            width: 100% !important;
            height: 60% !important;
        }
    }
}